@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
:root {
  font-family: 'Oxygen', sans-serif;
  font-size: 10px;
  --bgColor: rgba(173, 216, 230, 1);
  --contentColor: rgba(232, 244, 248, 1);
  --secondaryBgColor: rgba(191, 93, 58, 1);
  --primaryTxtColor: rgba(0, 0, 0, 1);
  --secondaryTxtColor: rgba(255, 255, 255, 1);
  --border: 1px solid var(--primaryTxtColor);
  --boxShadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bgColor);
  font-size: 10px;
}
/*
=== navbar ===  */

.navbar {
  width: 80%;
  max-width: 600px;
  display: grid;
  place-items: center;
  margin: 5rem auto;
  border-bottom: 0.1rem solid var(--primaryTxtColor);
  background-color: var(--bgColor);
}

.navbar h1 {
  font-weight: 400;
  font-size: 3rem;
  color: var(--primaryTxtColor);
  margin-bottom: 2rem;
  text-align: center;
}

.navbar .links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  margin: 2.6rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  text-align: center;
  color: var(--primaryTxtColor);
  flex-wrap: wrap;
  border: none;
  transition: all 0.6s ease-in-out;
}

.navbar a:hover {
  color: var(--secondaryTxtColor);
  background-color: var(--secondaryBgColor);
}

/*=== content ===  */
.content {
  width: 90%;
  background-color: var(--contentColor);
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--boxShadow);
}

/*=== Home ===  */
button {
  padding: 0.8rem 1.6rem;
  margin: 2rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--primaryTxtColor);
  background-color: var(--secondaryTxtColor);
  border: var(--border);
  outline: none;
  text-align: center;
  transition: all 0.6s ease-in-out;
}
button:hover,
button:focus {
  border: none;
  color: var(--secondaryTxtColor);
  background-color: var(--secondaryBgColor);
  box-shadow: var(--boxShadow);
  outline: none;
}

/*=== BlogList ===  */

h2 {
  text-align: center;
  font-size: 2.1rem;
  margin: 1rem auto;
}
p {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin: 2rem;
}

.blog-preview {
  padding: 2rem 3rem;
  margin: 2rem 0;
  border-radius: 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.blog-preview:hover {
  box-shadow: var(--boxShadow);
}

.blog-preview a {
  text-decoration: none;
  color: var(--primaryTxtColor);
}

/*=== BlogDetails ===  */
.blog-details {
  width: 80%;
  max-width: 600px;
  margin: auto;
}
.blog-details h2 {
  font-size: 2rem;
  margin: 1rem auto;
  color: var(--primaryTxtColor);
}
.blog-details div {
  margin: 2rem auto;
  font-size: 1.8rem;
  line-height: 1.6;
}

.blog-details button {
  background-color: var(--secondaryBgColor);
  color: var(--secondaryTxtColor);
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

/*=== Create ===  */
.create {
  width: 80%;
  max-width: 400px;
  text-align: center;
  display: grid;
  place-items: center;
  gap: 4rem;
}

.create h2 {
  font-size: 2rem;
  color: var var(--primaryTxtColor);
}
.create form {
  width: 100%;
  max-width: 400px;
}
.create .formGroup {
  width: 100%;
}
.create label {
  text-align: left;
  display: block;
  font-size: 2.56rem;
}
.create input,
.create textarea,
.create select {
  font-size: 1.8rem;
  font-weight: 100;
  text-align: justify;
  width: 100%;
  padding: 1rem 2.5rem;
  margin: 1rem auto;
  border: 1px solid #ddd;
  outline: none;
  display: block;
}

.create textarea {
  min-height: 4rem;
}
